<!DOCTYPE HTML>
<html>

<head>
    <title>Securtec Oficiales</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

</head>


<body>


    <section>
        <footer>
            <div>


                <h1> Perfil Oficial {{codigo}}</h1>
                </br>
                </br>
                </br>
                <p>Nombre: {{nombre_xxx}}</p>
                <p>Faltas: {{faltas}}</p>
                <p>Tardias: {{tardias}}</p>
                <p>Méritos: {{meritos}}</p>
                <p>Ausencias: {{ausencias}}</p>
                <p>Celular: {{celular}}</p>
                <p>Amonestaciones: {{amonestaciones}}</p>
                <p>Direccion: {{direccion}}</p>
                </br>
                </br>

                <li><a href="/">ACTUALIZAR PERFIL</a></li>
                </br>
                </br>

                </br>
                <h2>{{mensaje}}</h2>
            </div>

    </section>





    <section>
        <footer>
            <div>

                <h1>Marcar entrada</h1>
                <h2><strong>¡Que tu día sea de mucha suerte!</strong></h2>
                </br>
                </br>

                <li><a href="/emtrada">MARCAR</a></li>


            </div>



    </section>



    <section>
        <div>

            <h1>ESPH VEHÍCULOS</h1>
            <h2><strong>Control de llaves y unidades</strong></h2>
            </br>
            <ul>
                <li><a href="#">Llaves</a></li>
                <li><a href="#">Unidades</a></li>
            </ul>
        </div>


    </section>

    <footer id="footer">
        <p style=" font-size:12px; text-align:center " class="copyright">&copy;Copyright 2021 ecomycr</br> <a href="/">TODOS LOS DERECHOS RESERVADOS:</a> </p>
    </footer>

</body>

</html>